body{
    background-image: url(https://fondosmil.com/fondo/22204.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Macondo', cursive;
    color: antiquewhite;
    text-shadow: 2px 2px #2a2a2a;
}

.img {  
    /*Creamos al clase imágen */
    border-radius:  1000cm;      /*Borde redondeado con tamaño*/
    border-color: #027c27;   /*Color del borde en la foto*/
    border-style: initial;      /*Estilo de borde en la foto*/ 
}
